@page "/FleetFlightTimeCalculator"
@using OGTools.Shared
@using OGTools.Client
@using OGTools.Shared.Enums
@using Microsoft.AspNetCore.Components

<h3>FleetFlightTimeForm</h3>

<div class="card">
    <div class="card-header alert-info">
        OGame ship flight time including lifeforms technologies
    </div>
    <div class="card-body">
        <EditForm Model="_fleetFlightTime" OnValidSubmit="@HandleValidationSubmit">
            <div class="" id="GeneralSettingsContainer">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="PlayerClassInput">Player class:</label>
                                <InputSelect class="form-control" id="PlayerClassInput" @bind-Value="@_fleetFlightTime.PlayerClass">
                                    @foreach (var playerClass in Enum.GetValues(typeof(PlayerClass)))
                                    {
                                        <option value="@playerClass">@playerClass</option>
                                    }
                                </InputSelect>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="AllianceClassInput">Alliance class:</label>
                                <InputSelect class="form-control" id="AllianceClassInput" @bind-Value="@_fleetFlightTime.AllianceClass">
                                    @foreach (var allianceClass in Enum.GetValues(typeof(PlayerAllianceClass)))
                                    {
                                        <option value="@allianceClass">@allianceClass</option>
                                    }
                                </InputSelect>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="CombustionDriveLevelInput">Combustion drive level:</label>
                                <InputNumber class="form-control" id="CombustionDriveLevelInput" @bind-Value="@_fleetFlightTime.PlayerTechnologies.CombustionDriveLevel"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="ImpulseDriveLevelInput">Impulse drive level:</label>
                                <InputNumber class="form-control" id="ImpulseDriveLevelInput" @bind-Value="_fleetFlightTime.PlayerTechnologies.ImpulseDriveLevel"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="HyperspaceDriveLevelInput">Hyperspace drive level:</label>
                                <InputNumber class="form-control" id="HyperspaceDriveLevelInput" @bind-Value="_fleetFlightTime.PlayerTechnologies.HyperspaceDriveLevel"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="StartingCoordinatesInput">Starting coordinates:</label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private ShipInfo _ship = new ShipInfo();
    private FleetFlightTime _fleetFlightTime = new FleetFlightTime();

    public async Task HandleValidationSubmit()
    {

    }

}
