@page "/FleetFlightTimeCalculator"
@using OGTools.Shared
@using OGTools.Client

<h3>FleetFlightTimeForm</h3>

<div class="card">
    <div class="card-header alert-info">
        OGame ship flight time including lifeforms technologies
    </div>
    <div class="card-body">
        <EditForm Model="_fleetFlightTime" OnValidSubmit="@HandleValidationSubmit">
            <div class="" id="GeneralSettingsContainer">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="PlayerClassInput">Player class:</label>
                                <InputSelect class="form-control" id="PlayerClassInput" @bind-Value="@_fleetFlightTime.PlayerClass">
                                    @foreach (var playerClass in Enum.GetValues(typeof(PlayerClass)))
                                    {
                                        <option value="@playerClass">@playerClass</option>
                                    }
                                </InputSelect>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="AllianceClassInput">Alliance class:</label>
                                <InputSelect class="form-control" id="AllianceClassInput" @bind-Value="@_fleetFlightTime.AllianceClass">
                                    @foreach (var allianceClass in Enum.GetValues(typeof(AllianceClass)))
                                    {
                                        <option value="@allianceClass">@allianceClass</option>
                                    }
                                </InputSelect>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="CombustionDriveLevelInput">Combustion drive level:</label>
                                <InputNumber class="form-control" id="CombustionDriveLevelInput" @bind-Value="@_fleetFlightTime.CombustionDriveLevel"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="ImpulseDriveLevelInput">Impulse drive level:</label>
                                <InputNumber class="form-control" id="ImpulseDriveLevelInput" @bind-Value="_fleetFlightTime.ImpulseDriveLevel"/>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="HyperspaceDriveLevelInput">Hyperspace drive level:</label>
                                <InputNumber class="form-control" id="HyperspaceDriveLevelInput" @bind-Value="_fleetFlightTime.HyperspaceDriveLevel"/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private ShipInfo _ship = new ShipInfo();
    private FleetFlightTime _fleetFlightTime = new FleetFlightTime();

    private List<ShipInfo> _ships = new List<ShipInfo>()
    {
        new ShipInfo { ShipName = "Small cargo", ShipBaseSpeed = 10000},
        new ShipInfo { ShipName = "Large cargo", ShipBaseSpeed = 7500},
        new ShipInfo { ShipName = "Light fighter", ShipBaseSpeed = 12500},
        new ShipInfo { ShipName = "Heavy Fighter", ShipBaseSpeed = 10000},
        new ShipInfo { ShipName = "Cruiser", ShipBaseSpeed = 15000},
        new ShipInfo { ShipName = "Battleship", ShipBaseSpeed = 10000},
        new ShipInfo { ShipName = "Battlecruiser", ShipBaseSpeed = 10000},
        new ShipInfo { ShipName = "Bomber", ShipBaseSpeed=5000},
        new ShipInfo { ShipName = "Destroyer", ShipBaseSpeed = 5000},
        new ShipInfo { ShipName = "Death star", ShipBaseSpeed = 100},
        new ShipInfo { ShipName = "Reaper", ShipBaseSpeed = 7000},
        new ShipInfo { ShipName = "Pathfinder", ShipBaseSpeed = 12000},
        new ShipInfo { ShipName = "Colony ship", ShipBaseSpeed = 2500},
        new ShipInfo { ShipName = "Recycler", ShipBaseSpeed=6000},
        new ShipInfo { ShipName = "Espionage probe", ShipBaseSpeed = 100000000}
    };

    public async Task HandleValidationSubmit()
    {

    }

}
